<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
    
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Page Title</title>
</head>
<body class="text-center">
    <h1 id="title" ></h1><br>
    <h4 id="game_explain" ></h4>

    <form class="form-signin" action="/login" method="post">
        <h1 class="h3 mb-3 font-weight-normal">SIGN IN</h1>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text"class="form-control" placeholder="username" required autofocus name="username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password"  class="form-control" placeholder="password" required name="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <% if (typeof error.login_fail != 'undefined' 
            && error.login_fail.length > 0){ %>
    <div class="alert alert-danger"><%=error.login_fail%></div>
    <% } %>
    </form>
    <br><br>
    <h1 class="h3 mb-3 font-weight-normal">OR</h1>
    <form class="form-signin" action="/register" method="post">
            <h1 class="h3 mb-3 font-weight-normal">SIGN UP</h1>
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" class="form-control" placeholder="username" required autofocus name="username">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" class="form-control" placeholder="password" required name="password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    
            <% if(typeof error.signup_pwd_error != 'undefined' 
                    && error.signup_pwd_error.length > 0) { %>
            <div class="alert alert-danger"><%=error.signup_pwd_error%></div>
            <% } %>
            <% if(typeof error.signup_name_error != 'undefined' 
                    && error.signup_name_error.length > 0) { %>
            <div class="alert alert-danger"><%=error.signup_name_error%></div>
            <% } %>
            <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
        </form>
    <!--
        <div id="title"></div>
    <div id="game_explain"></div>
    <h2>login</h2>
        <form action="/login" method="post" >
        <div class="form-group" style="width:auto">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit">
    </form>
    <% if (typeof error.login_fail != 'undefined' 
            && error.login_fail.length > 0){ %>
    <div class="alert alert-danger"><%=error.login_fail%></div>
    <% } %>
    <h2>register</h2>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="password" placeholder="password">
        <input type="submit">
    </form>
    <% if(typeof error.signup_pwd_error != 'undefined' 
            && error.signup_pwd_error.length > 0) { %>
    <div class="alert alert-danger"><%=error.signup_pwd_error%></div>
    <% } %>
    <% if(typeof error.signup_name_error != 'undefined' 
            && error.signup_name_error.length > 0) { %>
    <div class="alert alert-danger"><%=error.signup_name_error%></div>
    <% } %>
    -->
    <script src="/js/GLOBAL_CONST.js"></script>
    <script src="/js/message.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>

